
                    .container{
                              display: grid;
                              grid-template-columns: 1fr 2fr 1fr;
                    }
                        .edit-profile{
                              border-radius: 15px;
                              padding: 4px 10px;
                              border: 1px solid green;
                        }
                        .top-profile{
                              text-align: center;
                              padding: 10px 0px;
                        }
                        .profile-image{
                               display:flex;
                              justify-content: center;
                        }
                        .profile{
                              height: 150px;
                              width: 150px;              
                        }
                        .profile img{
                              height: 100%;
                              width: 100%;
                              border-radius: 50%;
                        }
                        a{
                              text-decoration: double;
                        }
