{% extends 'base.html' %}

{% block title %} Registration{% endblock title %}

{% block content %}
  {% load static %}
          <link rel="stylesheet" href="{% static 'css/register.css' %}">
<style>
  .form-errors{
    width: 30%;
  }
    .inerror, li{
                list-style-type: none;
                margin-top: 6px;
                width: 100%;
                 padding: 0px 10px;
                 color: white;
          }
</style>
 {% if form.errors %}
                             <div class="error-div " role="alert">
                                          <div class="form-errors ">
                                            <button type="button" class="btn-close" aria-label="Close"></button>
                                                      {% for key, value in form.errors.items %}
                                                      <div class="inerror bg-danger">
                                                            <strong class="edit">{{ value }}</strong>
                                                      </div>
                                                      {% endfor %}
                                          </div>                          
                              </div>
                    {% endif %}
<div class="form-group ">
                   
              <form action="" method="POST" class="shadow-sm">

                      <div class="header btn-secondary">Register..</div>
                        {% csrf_token %}
                             <!-- {{form.as_p}} -->
                           
                        <div class="form-input">
                                      <label for="id_username">Username:</label>
                                      <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" class="form-control">
                       </div>

                       <div class="form-input">
                                        <label for="password1">Password:</label>
                                       <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="form-control">
                        </div>

                       <div class="form-input">
                                        <label for="password2">Confirm-Password:</label>
                                       <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="form-control">
                        </div>
                        <button type="submit" class="btn bg-success" >Register</button>
                        <small class="error"></small>
                        
            </form>
         
</div>
 
<script type="text/javascript">
  const pass1 = document.querySelector('#id_password1')
  const pass2 = document.querySelector('#id_password2')
const btn = document.querySelector('.btn')
const error = document.querySelector('.error')

const dog = pass1.Value
const cup = pass2.Value
btn.addEventListener('click', (e)=>{
  e.preventDefault()
  setTimeout({
         check()
  },3000)
    

})
 check =() =>{
        if(pass1.value != pass2.value){
              pass2.style.border = '2px solid red';
              error.innerHTML = 'Password does not match'
            }
 }
</script>
{% endblock content %}