{% extends 'base.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/addpost.css' %}" />

{% block content %}
<style>
	.addpost-flex{
		display: flex;
		justify-content: center;
	}
	label{
		color: antiquewhite;
	}
	.addpost{
		width: 80%;
		padding: 15px 25px;
		margin-top: 10px;
		border-radius: 10px;
	}
</style>
<div class="addpost-flex bg-light">
	{% if request.user == post.author %}
	<div class="addpost bg-secondary">
		
		<h3 style="color: wheat;">Edit Post...</h3>
		<div class="form-group">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %} {{form.as_p}}
				<input type="submit" class="btn-dark" value="Update" />
			</form>
		</div>
		
	</div>
	{% else %}
		My Friend get out of here
		{% endif %}
</div>
{% endblock content %}
